*{margin: 0; padding: 0}

body{font-family: cursive;
font-size: 20px;
line-height: 22px;background:url(../img/background/background.jpg) repeat fixed}

.fix{overflow: hidden}

.menu{}
.menu ul{float:right}
.menu ul li{border: 2px solid wheat;
border-radius: 20px;
display: inline-block;
float: left;
margin-left: 5px;
margin-right: 5px;
padding: 18px; list-style:none}
.menu ul li:hover{background-color: #ffffff}
.menu ul li a{color: #3d92fa;
font-size: 22px;
text-align: center;
text-decoration: none;}

.menu ul li a:hover{
	color:#A6E22A;
	font-size: 26px}

.main{width:960px; margin: 20px auto; display: block}

.header{text-align: center; margin-bottom: 20px; padding: 8px; color: #FB5700}

.header h1:hover{color:#004BB0; font-size: 44px}

.description{}
.description p{margin-top: 9px; color: #4099AB}
.planet_logo {margin-top:20px}
.footer{text-align:center; color: #3d92fa; background-color: #594D39; margin-top: 20px}